.footer {
  padding: 40px 10px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.level-block {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.footer-h {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 215, 203, 1);
  display: inline-block;
  transition: font-size 0.6s ease;
}

.footer-h:hover {
  font-size: 19px;
}

.footer-p {
  font-size: 16px;
}

.item-block {
  flex: 1;
  width: 400px;
  margin-bottom: 20px;
  padding: 5px 10px;
  text-align: center;
}

.contact-data {
  color: black;
  text-decoration: none;
}

.item-block p {
  margin: 10px 0;
}

.item-block ul {
  list-style: none;
  padding: 0;
}

.item-block ul li {
  margin-bottom: 10px;
}

.item-block ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.item-block ul li a:hover {
  color: #ff69b4;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-block a {
  transition: transform 0.3s;
}

.item-block a img {
  width: 35px;
}

.item-block a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}
