<footer class="footer">
  <div class="footer-container">
    <div class="level-block">
      <div class="item-block">
        <h4 class="footer-h">Про нас</h4>
        <p class="footer-p">Ми допомагаємо вам знайти кращих б'юті майстрів і салони краси у вашому місті</p>
      </div>
      <div class="item-block">
        <h4 class="footer-h">Корисні посилання</h4>
        <ul>
          <li><a href="/home">Головна</a ></li>
          <li><a href="/discounts">Акції</a></li>
          <li><a href="/about">Про нас</a></li>
        </ul>
      </div>
    </div>

    <div class="level-block">
      <div class="item-block">
        <h4 class="footer-h">Контакти</h4>
        <p class="footer-p">Телефон: <a class="contact-data" href="tel:+380953324255">+380 (95) 332-42-55</a></p>
        <p class="footer-p">Пошта: <a class="contact-data" href="mailto:hiplace6@gmail.com">hiplace6@gmail.com</a></p>

      </div>
      <div class="item-block">
        <h4 class="footer-h">Ми у соцмережах</h4>
        <div class="items">
          <a href="https://uk-ua.facebook.com/"><img src="./assets/image/icons/facebook.svg" alt="Facebook"></a>
          <a href="https://www.instagram.com/"><img src="./assets/image/icons/instagram.svg" alt="Instagram"></a>
          <a href="https://t.me/ivan_zhuravlev_1"><img src="./assets/image/icons/telegram.svg" alt="Telegram"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Hi Place. Усі права захищені.</p>
  </div>
</footer>
