.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #f7f7f7;*/
  font-family: 'Arial', sans-serif;
}

.count-container {
  /*text-align: center;*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.count-item {
  font-size: 18px;
  margin: 15px 0;
}

.label {
  font-weight: bold;
  color: #333;
}

.count {
  font-size: 24px;
  font-weight: 700;
  color: #007BFF;
}

.count-item:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.count-item span {
  margin: 0 5px;
}

