<app-loading [isLoading]="startLoading"></app-loading>

<section class="register-step-container">
  <div class="form-group">
    <app-address (selectedAddressEmit)="onAddressSelected($event)"></app-address>
  </div>
  <button class="skip-btn default-main-btn" (click)="skipAddAddress()">Skip</button>
  <button class="submit-btn default-main-btn" (click)="submit()">Next</button>

  <div class="error-container" *ngIf="showErrorContainer">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
</section>
