<div class="wrapper">
  <div class="period-container">
    <button class="period-item"
            (click)="activateBtn(1); setStartTime(3)"
            [ngClass]="{'active': activeBtn === 1}">3д</button>
    <button class="period-item"
            (click)="activateBtn(2); setStartTime(7)"
            [ngClass]="{'active': activeBtn === 2}">7д</button>
    <button class="period-item"
            (click)="activateBtn(3); setStartTime(30)"
            [ngClass]="{'active': activeBtn === 3}">1м</button>
    <button class="period-item"
            (click)="activateBtn(4); setStartTime(365)"
            [ngClass]="{'active': activeBtn === 4}">1р</button>
  </div>

  <div class="data-container">
    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.phone}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Переглядів телефону</p>
      </div>
    </div>

    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.instagram}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Переходів в Instagram</p>
      </div>
    </div>

    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.tiktok}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Переходів в TikTok</p>
      </div>
    </div>

    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.telegram}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Переходів в Telegram</p>
      </div>
    </div>

    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.visit}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Переглядів сторінки</p>
      </div>
    </div>

    <div class="data-item">
      <div class="data-value-container">
        <p class="data-value">{{animStatisticData.listPosition}}</p>
      </div>
      <div class="data-footer">
        <p class="data-label">Рейтинг серед користувачів</p>
      </div>
    </div>
  </div>
</div>

<div class="text-container">
  <h1>Параметр залученості: {{statisticData.interestingParam.toFixed(2)}}</h1>
  <p *ngIf="statisticData.interestingParam < 1">
    Параметр залученості менше 1.
    Це означає, що люди відвідують Вашу сторінку, але не зв'язуються з Вами.
    Це може бути через високу ціну, погану демонстрацію робіт або малий набір послуг.
    Подумайте, як можна покращити Вашу сторінку. Слідкувати за змінами Ви зможете на цій же сторінці.
    Зв'яжіться з нашою командою HiPlace, і ми Вам допоможемо :)
  </p>

  <p *ngIf="statisticData.interestingParam >= 1 && statisticData.interestingParam < 2">
    Параметр залученості менше 2.
    Це означає, що кожне відвідування принесло щонайменше 1 потенційного клієнта, який захотів з Вами зв'язатися.
    Для збільшення кількості клієнтів команда HiPlace радить обрати найкращі приклади робіт і скласти гарний опис профілю.
  </p>

  <p *ngIf="statisticData.interestingParam >= 2 && statisticData.interestingParam < 4">
    Параметр залученості більше 2.
    Це означає, що кожен потенційний клієнт відвідав Ваші соціальні мережі або зателефонував Вам. Це дуже гарний результат.
    Щоб підтримувати такий рівень, команда HiPlace радить регулярно моніторити рейтинг і вартість послуг на ринку.
  </p>

  <p *ngIf="statisticData.interestingParam > 6">
    Параметр залученості більше 6.
    Можливе накручування! Зв'яжіться з командою HiPlace для уточнення деталей.
  </p>
</div>

<div class="avg-price-container">
  <h1>Порівняйте свої ціни із середніми цінами на сайті!</h1>
  <p>* У таблиці відображаються послуги, де різниця з ринком більше 1%</p>
  <table class="avg-price-table">
    <thead>
    <tr>
      <th>Послуга</th>
      <th>Середня ціна</th>
      <th>Ваша ціна</th>
      <th>Різниця в ціні</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of avgPriceByServiceItems">
      <td>{{item.serviceItemName}}</td>
      <td>{{item.avgPrice | number: '1.1-2'}}</td>
      <td>{{item.price | number: '1.1-2'}}</td>
      <td>
        <p *ngIf="item.priceDifferentPercent > 0">
          Ваша ціна на {{item.priceDifferentPercent.toFixed(1)}}% нижча за середню ціну
        </p>
        <p *ngIf="item.priceDifferentPercent < 0">
          Ваша ціна на {{(-1 * item.priceDifferentPercent).toFixed(1)}}% вища за середню ціну
        </p>
        <p *ngIf="item.priceDifferentPercent === 0">
          Ваша ціна збігається із середньою
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
